@using GameDBModel
@model Game

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table>
    <tr>
        <td>@Html.DisplayNameFor(m=> Model.Title)</td>
        <td>:</td>
        <td>@Html.DisplayFor(m=>Model.Title)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(m=>Model.Platform)</td>
        <td>:</td>
        <td>@Html.DisplayFor(m=>Model.Platform)</td>
    </tr>
</table>
@Html.DisplayNameFor(m=> Model.Title) :
